version: "3.9"

services:
  app:
    build:
      context: ../../
      dockerfile: ./docker/development/app/Dockerfile
    volumes:
      - ../../app:/var/www/html

  nginx:
    image: nginx:alpine
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ../../app:/var/www/html:ro
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
